<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- write logs to file -->
    <target name="InfoFile" xsi:type="File" fileName="${basedir}/logs/info-${shortdate}.csv"  archiveAboveSize="819200" maxArchiveFiles="500">
      <layout xsi:type="CsvLayout">
        <column name="action" layout="${event-context:item=Action}" />
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${event-context:item=CustomMessage}" />
        <column name="level" layout="${level:uppercase=true}"/>
        <column name="stacktrace" layout="${stacktrace}"/>
        <column name="exception" layout="${event-context:item=ALLException}" />
      </layout>
    </target>
    <target name="ErrorFile" xsi:type="File" fileName="${basedir}/logs/error-${shortdate}.csv"  archiveAboveSize="819200" maxArchiveFiles="500">
      <layout xsi:type="CsvLayout">
        <column name="action" layout="${event-context:item=Action}" />
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${event-context:item=CustomMessage}" />
        <column name="level" layout="${level:uppercase=true}"/>
        <column name="stacktrace" layout="${stacktrace}"/>
        <column name="exception" layout="${event-context:item=ALLException}" />
      </layout>
    </target>
  </targets>
  <rules>
    <!--INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Info" maxlevel="Error" writeTo="InfoFile" />
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Error" maxlevel="Error"  writeTo="ErrorFile" />
  </rules>
</nlog>
